name: Sauce CI

on: [push, pull_request_target]

env:
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: 16.13.0
        - name: Install Dependencies
          run: npm install
        - name: Test
          run: npm run test:sauce
        - uses: actions/upload-artifact@v1
          if: failure()
          with:
            name: logs
            path: logs

